#wp-admin-bar-customize, #wp-admin-bar-my-account {
    display: none;
}

#wp-admin-bar-updates {
    display: none;
}

#wp-admin-bar-comments {
    display: none;
}

#wp-admin-bar-new-content {
    display: none;
}

#wp-admin-bar-wpseo-menu {
    display: none;
}

#wp-admin-bar-gform-forms {
    display: none;
}

#wp-admin-bar-edit {
    display: none;
}

#wp-admin-bar-revslider {
    display: none;
}